/* 
    General Styles
*/
/* .vehicles {
    overflow-y: hidden;
    overflow-x: auto; 
    background-color: yellow;
    height: 250px; 
} */
/* .home-page {
    margin: 4px, 4px;
    padding: 4px;
    background-color: #08c708;
    width: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
} */

.section-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red; 
    font-style: italic;
}
.characters {
    margin: 80px; 
}
.planets {
    margin: 80px; 
}
.vehicles {
    margin: 80px; 
}
